.container {
  max-width: 1140px;
  width: 100%;
  margin: 0auto;
  display: flex;
}

@media (min-width: 667px) {
  .container {
    padding: .5rem 2rem;
  }
}


@media (max-width: 668px) {
  .container {
    padding: .3rem 1rem;
  }
}


a {
  text-decoration: none;
}

.header {
  padding:  10px 20px;
  background-color: rgb(255, 230, 0);
}